.body-compare {
    min-height: calc(100vh - var(--header-height) - 50px);
    border: var(--border-normal);
    margin: 30px auto;
    border-radius: 50px;
    width: calc(100% - 50px);
    padding: 30px;
}
.control-bar {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 200px 400px 75px;
    border-bottom: var(--border-red);
    padding-bottom: 15px;
}
.button-upload {
    display: flex;
    border-radius: 20px;
    border: var(--border-normal);
    justify-content: center;
    align-items: center;
    background-color: var(--color-6);
    color: var(--color-0);
    transition-duration: 0.2s;
}
.button-upload:hover {
    transition-duration: 0.2s;
    scale: 1.1;
    background-color: var(--color-5);
}
#show-modal>div:nth-child(1) {
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
#show-modal>div:nth-last-child(1) {
    position: fixed;
    width: 800px;
    top: 25px;
    left: calc(50% - 400px);
    z-index: 2;
    padding: 20px 30px;
}
.display-table {
    height: 50vh;
    border: var(--border-normal);
    margin-bottom: 20px;
}
#show-modal>div:nth-last-child(1)>div:nth-last-child(1) button{
    border: var(--border-normal);
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition-duration: 0.2s;
    color: var(--color-0);
    height: 30px;
}
#show-modal>div:nth-last-child(1)>div:nth-last-child(1) button:hover{
    transition-duration: 0.2s;
    background-color: var(--color-5) !important;
    scale: 1.1;
}
#show-modal>div:nth-last-child(1)>div:nth-last-child(1) button:nth-child(1){
    background-color: var(--color-6);
}
#show-modal>div:nth-last-child(1)>div:nth-last-child(1) button:nth-last-child(1){
    background-color: var(--color-4);
}
.button-show-image {
    background-color: var(--color-4);
    color: var(--color-0);
    padding: 5px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-show-image:hover {
    background-color: var(--color-5);
    scale: 1.1;
    transition-duration: 0.2s;
}
.table-compare-count {
    width: 100px;
}
.table-compare-note {
    width: 300px;
}
.table-compare-box {
    border: var(--border-grey);
    padding: 5px 10px 5px 0;
    border-radius: 20px;
    display: grid;
    gap: 5px;
    grid-template-columns: 30px 90px 1fr 30px;
}
.table-compare-box div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.search-tool {
    display: grid;
    grid-template-columns: 400px 600px 1fr 120px;
    gap: 20px;
}
.button-export {
    height: 30px;
    padding: 15px 20px;
    background-color: var(--color-6);
    color: var(--color-0);
    border-radius: 50px;
    border: var(--border-normal);
    transition-duration: 0.2s;
}
.button-export:hover {
    scale: 1.1;
    transition-duration: 0.2s;
    background-color: var(--color-1);
}
.button-image-active,
.button-image-inactive {
    color: var(--color-0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 30px;
    aspect-ratio: 1/1;
}
.button-image-active {
    background-color: var(--color-4);
    cursor: pointer;
    transition-duration: 0.2s;
}
.button-image-active:hover {
    background-color: var(--color-5);
    transition-duration: 0.2s;
    scale: 1.1;
}
.button-image-inactive {
    background-color: var(--color-3);
}


.table-compare-count-text {
    color: var(--color-6);
    font-weight: bold;
    border-right: var(--border-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}