:root {
    --modal-width: 500px;
}
#lqt-delete-modal>div:nth-child(1){
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
}
.modal-confirm {
    position: fixed;
    top: calc(20vh);
    width: var(--modal-width);
    left: calc((100% - var(--modal-width)) / 2);
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 40px;
    column-gap: 15px;
    row-gap: 30px;
    grid-template-areas: "content content" "cancel confirm";
    animation: ease-in-out topSlide 0.5s;
    z-index: 2;
}
.modal-confirm>p {
    grid-area: content;
    text-align: center;
    font-size: 18px;
}
.modal-confirm>p>span {
    font-weight: bold;
    font-size: 22px;
    color: var(--color-1);
}
.modal-confirm>button:nth-child(2) {
    grid-area: cancel;
    background-color: var(--color-4);
}
.modal-confirm>button:nth-child(3) {
    grid-area: confirm;
    background-color: var(--color-1);
}
.modal-confirm>button {
    color: var(--color-0);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-5);
    border-radius: 20px;
    transition-duration: 0.2s;
}
.modal-confirm>button:hover {
    background-color: var(--color-5);
    scale: 1.05;
    transition-duration: 0.2s;
}
