<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compare</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/compare.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <script src="/jquery-3.7.1.min.js"></script>
    <script src="/bootstrap/bootstrap.bundle.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/compare.js"></script>
    <script src="/js/modalData.js"></script>
</head>
<body class="color3 scroll-custom">
<div th:replace="template::header"></div>
<div class="color0 body-compare">
    <div class="control-bar mb-2">
        <input onchange="changeFile()"
               class="form-control" type="file" id="excel-file">
        <select onchange="changeSheet()" id="select-sheet" class="form-select">
            <option>Chưa chọn file</option>
        </select>
        <div class="input-group">
            <span class="input-group-text material-symbols-outlined">
                add_row_below</span>
            <select onchange="changeColumn()" id="select-part" class="form-select">
                <option>Chưa chọn Sheet</option>
            </select>
            <select onchange="changeColumn()" id="select-quantity" class="form-select">
                <option>Chưa chọn Sheet</option>
            </select>
        </div>
        <button onclick="showConfirmModal()" class="button-upload material-symbols-outlined">send</button>
    </div>
    <div class="search-tool d-flex flex-row-reverse gap-2 mb-2">
        <div class="input-group">
                <span class="material-symbols-outlined input-group-text">
                    calendar_month</span>
            <input id="start-date-input" type="date" class="form-control" onchange="setupData()">
            <input id="end-date-input" type="date" class="form-control" onchange="setupData()">
        </div>
        <div class="input-group">
            <span class="input-group-text material-symbols-outlined">warehouse</span>
            <select class="form-select" id="warehouse-select" onchange="setupData()">
                <option th:each="warehouse : ${warehouses}"
                        th:value="${warehouse.getid()}"
                        th:text="${warehouse.getName()}"></option>
            </select>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="text-center">No</th>
            <th>Part Number</th>
            <th class="text-center">Quantity from Excel</th>
            <th class="text-center">Quantity from Database</th>
            <th class="text-danger text-center">  Difference</th>
            <th>Source</th>
        </tr>
        </thead>
        <tbody id="data-compare"></tbody>
    </table>
</div>

</body>
</html>