<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Stock Note</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/modalStyle.css">

    <script src="/bootstrap/bootstrap.bundle.js"></script>
    <script src="/jquery-3.7.1.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/modalData.js"></script>
</head>
<body class="color3 scroll-custom">
<div th:replace="template::header"></div>
<form th:action="${'/publish/stock'}"
      method="post"
      th:object="${stockCreateDto}"
      class="container">
    <div class="color0 borderradius p-4 mt-3
        boxshadow-outset pb-5">
        <h3>Stock Note</h3>
        <input th:field="*{id}" hidden="hidden">
        <div class="mt-3">
            <label class="form-label alert-require"
                   for="warehouseId">Warehouse</label>
            <select class="form-select" th:field="*{warehouseId}"
                    id="warehouseId">
                <option value="0">-- select warehouse --</option>
                <option
                        th:each="wh : ${warehouses}"
                        th:value="${wh.getid()}"
                        th:text="${wh.getName()}"></option>
            </select>

            <p class="text-danger"
               th:if="${#fields.hasErrors('warehouseId')}"
               th:errors="*{warehouseId}"></p>
        </div>
        <div class="mt-3">
            <label class="form-label alert-require"
                   for="date">Release Date</label>
            <input type="date" id="date"
                   class="form-control form-text"
                   th:field="*{releaseDate}">
            <p class="text-danger"
               th:if="${#fields.hasErrors('releaseDate')}"
               th:errors="*{releaseDate}"></p>
        </div>
        <div class="mt-3">
            <label class="form-label"
                   for="so">SO</label>
            <input type="text" id="so"
                   class="form-control form-text"
                   placeholder="SO"
                   th:field="*{so}">
            <p class="text-danger"
               th:if="${#fields.hasErrors('so')}"
               th:errors="*{so}"></p>
        </div>
        <div class="mt-3">
            <label class="form-label"
                   for="partner">Partner</label>
            <input type="text" id="partner"
                   class="form-control form-text"
                   placeholder="Partner"
                   th:field="*{partner}">
            <p class="text-danger"
               th:if="${#fields.hasErrors('partner')}"
               th:errors="*{partner}"></p>
        </div>
        <div class="mt-3">
            <label class="form-label"
                   for="note">Note</label>
            <textarea type="text" id="note"
                   class="form-control form-text"
                   placeholder="Note" th:field="*{note}"></textarea>
            <p class="text-danger"
               th:if="${#fields.hasErrors('note')}"
               th:errors="*{note}"></p>
        </div>
        <div class="mt-3">
            <label class="form-label"
                   for="salerId">Saler</label>
            <select class="form-select" th:field="*{salerId}"
                    id="salerId">
                <option value="0">-- select saler --</option>
                <option
                        th:each="sl : ${salers}"
                        th:value="${sl.getId()}"
                        th:text="${sl.getName()}"></option>
            </select>
            <p class="text-danger"
               th:if="${#fields.hasErrors('salerId')}"
               th:errors="*{salerId}"></p>
        </div>
        <div class="button-form mt-4">
            <button type="reset">
                <span class="material-symbols-outlined">restart_alt</span>
                Reset</button>
            <button type="submit">
                <span class="material-symbols-outlined">check_circle</span>
                Finish</button>
        </div>
    </div>
</form>

</body>
</html>