<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Item</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/modalStyle.css">

    <script src="/bootstrap/bootstrap.bundle.js"></script>
    <script src="/jquery-3.7.1.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/modalData.js"></script>
</head>
<body class="color3 scroll-custom">
<div th:replace="template::header"></div>
<form th:action="${'/publish/item'}"
      method="post"
      th:object="${itemCreateDto}"
      class="container">
    <div class="color0 borderradius p-4 mt-3
        boxshadow-outset pb-5">
        <h3 th:text="${itemCreateDto.getIsInbound() == 1 ? 'Inbound Item' : 'Outbound Item'}"></h3>
        <input th:field="*{id}" hidden="hidden">
        <input th:field="*{isInbound}" hidden="hidden">
        <input th:field="*{stockId}" hidden="hidden">

        <div class="mt-3">
            <label class="form-label alert-require"
                   for="partNumber">Part Number</label>
            <input type="text" id="partNumber"
                   class="form-control form-text"
                   placeholder="Part number"
                   th:field="*{partNumber}">
            <p class="text-danger"
               th:if="${#fields.hasErrors('partNumber')}"
               th:errors="*{partNumber}"></p>
        </div>
        <div class="mt-3">
            <label class="form-label alert-require"
                   for="manufacturerId">Manufacturer</label>
            <select class="form-select" th:field="*{manufacturerId}"
                    id="manufacturerId">
                <option value="0">-- select manufacturer --</option>
                <option
                        th:each="mn : ${manufacturers}"
                        th:value="${mn.getId()}"
                        th:text="${mn.getName()}"></option>
            </select>
            <p class="text-danger"
               th:if="${#fields.hasErrors('manufacturerId')}"
               th:errors="*{manufacturerId}"></p>
        </div>
        <div class="mt-3 mb-3">
            <label class="form-label"
                   for="description">Description</label>
            <textarea type="text" id="description"
                      class="form-control form-text"
                      placeholder="Description" th:field="*{description}"></textarea>
            <p class="text-danger"
               th:if="${#fields.hasErrors('description')}"
               th:errors="*{description}"></p>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input"
                   type="checkbox"
                   role="switch"
                   id="hasSerial"
                   th:attr="disabled=${itemCreateDto.getId() != null}"
                   th:field="*{hasSerial}">
            <label class="form-check-label"
                   for="hasSerial">Has Serial</label>
        </div>
        <div class="button-form mt-4">
            <button type="reset">
                <span class="material-symbols-outlined">restart_alt</span>
                Reset</button>
            <button type="submit">
                <span class="material-symbols-outlined">check_circle</span>
                Finish</button>
        </div>
    </div>
</form>

</body>
</html>