<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nhật Hạ Wearhouse</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/mainpage.css">
    <link rel="stylesheet" href="/css/tablecustom.css">
    <link rel="stylesheet" href="/css/pageable.css">
    <link rel="stylesheet" href="/css/displayDetail.css">
    <link rel="stylesheet" href="/css/popup.css">
    <link rel="stylesheet" href="/css/modalStyle.css">
    <link rel="stylesheet" href="/css/modifyData.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap.css">

    <script src="/exceljs.min.js"></script>
    <script src="/FileSaver.min.js"></script>
    <script src="/jquery-3.7.1.min.js"></script>
    <script src="/bootstrap/bootstrap.bundle.js"></script>
    <script src="/js/modalData.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/mainpage.js"></script>
    <script src="/js/popupCrud.js"></script>
    <script src="/js/modifyData.js"></script>
    <script src="/js/excelExport.js"></script>
</head>
<body class="color3">
<div th:replace="template::header"></div>
<div class="data-mainpage">
    <div class="color0">
        <div class="color0">
            <div id="content-table-pageable"></div>
            <div class="button-add-stock">
                <div class="material-symbols-outlined"
                onclick="gotoModifyStock(true)">add</div>
            </div>
        </div>
        <div class="table-title gap-4">
            <div class="input-group">
                <span class="input-group-text material-symbols-outlined">warehouse</span>
                <select class="form-select" id="warehouse-select" onchange="pageableLoad(0)">
                    <option th:each="warehouse : ${warehouses}"
                            th:value="${warehouse.getid()}"
                            th:text="${warehouse.getName()}"></option>
                </select>
            </div>
            <div class="d-flex gap-2 p-1">
                <input type="radio" class="btn-check stock-mode-input"
                       name="stock-mode" id="output" checked
                       onchange="pageableLoad(0)">
                <label class="material-symbols-outlined stock-mode-lable"
                       for="output" title="Outbound">upload</label>

                <input type="radio" class="btn-check stock-mode-input"
                       name="stock-mode" id="input"
                       onchange="pageableLoad(0)">
                <label class="material-symbols-outlined stock-mode-lable"
                       for="input" title="Inbound">download</label>
            </div>
            <div class="button-excel">
                Export Excel
                <span class="material-symbols-outlined stock-mode-lable"
                       for="output" title="Outbound" onclick="excelExport(false)">upload</span>
                <span class="material-symbols-outlined stock-mode-lable"
                       for="input" title="Inbound" onclick="excelExport(true)">download</span>
            </div>

            <h4 class="targetText">THÔNG TIN XUẤT/NHẬP KHO</h4>
        </div>
        <div class="search-tool">
            <div class="input-group">
                <span class="material-symbols-outlined input-group-text">
                    calendar_month</span>
                <input id="start-date-input" type="date" class="form-control" onchange="pageableLoad(0)">
                <input id="end-date-input" type="date" class="form-control" onchange="pageableLoad(0)">
            </div>
            <div class="input-group">
                <span class="input-group-text material-symbols-outlined">search</span>
                <input id="search-input" type="text" class="form-control"
                       placeholder="S.O, Tên Saler, Partner, Mã hàng, Thiết bị, Serial,..."
                       onkeyup="searchingData()">
            </div>
        </div>
        <div class="pt-3">
            <table class="table-custom">
                <thead id="stock-title"></thead>
                <tbody id="stock-data"></tbody>
            </table>
        </div>
        <div class="option-control d-flex flex-row gap-2">
            <div onclick="showWareHouseManager('warehouse')">
                <span class="material-symbols-outlined">warehouse
                </span> - Warehouse</div>
            <div onclick="showWareHouseManager('saler')">
                <span class="material-symbols-outlined">group
                </span> - Saler</div>
            <div onclick="showWareHouseManager('manufacturer')">
                <span class="material-symbols-outlined">factory
                </span> - Manufacturer</div>
            <div onclick="gotoLink('/publish/compare')">
                <span class="material-symbols-outlined">compare
                </span> - Compare</div>
        </div>
    </div>
    <div class="color0 display-detail">
        <div id="display-detail-button" class="control-bar">
            <div class="material-symbols-outlined inactive"
                 onclick="gotoModifyItem(0)">add</div>
            <div class="material-symbols-outlined inactive"
                 onclick="gotoModifyStock(false)">edit</div>
            <div onclick="showDeleteModal(0, '', 'stock')"
                 class="material-symbols-outlined inactive">delete</div>
        </div>
        <h5 class="targetText pe-2">CHI TIẾT PHIẾU NHẬP / XUẤT </h5>
        <div id="line-detail" class="color3 scroll-custom">
            <img src="/alert_image/204.svg">
        </div>
    </div>
    <input type="file" id="upload-pdf" accept="application/pdf" hidden="hidden">
</div>
</body>
</html>